* {
    padding: 0px;
    margin: 0px;
}
body {
    font-size: 10pt;
    font-style: normal;
    font-family: Tahoma, sans-serif;
    background-color: rgba(133,175,255,0.4);
    
}

#page {
    width :1280px;
    margin:0px auto;
    border: 1px solid black;
}

header {

}

#logo {
    float:left;
}

header h1 {
    font-family: 'Harlow Solid', fantasy;
    font-size:3em;
    text-align:center;
    padding-top:15px;
}
#menu1 {
    clear:both;
    padding-top:20px; 
    
}

.navbar-default {
     background: linear-gradient(rgba(230,230,230,1),rgba(260,260,260,1))
    /*background: linear-gradient(cornflowerblue,rgba(101,156,239,0.1));*/
    /*background: linear-gradient(rgba(133,175,255,1), rgba(133,175,255,0.5), rgba(133,175,255,0.01)) !important;*/
    

}
.navbar-default  .navbar-nav>li {
    border-right: 1px solid rgba(200,200,200,1);
    font-family: Tahoma, sans-serif;
    color: black;
}
    .navbar-default .navbar-nav > li:hover {    
        background-color: cornflowerblue;
    }

.navbar-default .navbar-nav>li>a:hover {
    color:white;
}

 .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    background: linear-gradient(rgba(133,175,255,0.1), rgba(133,175,255,1), rgba(133,175,255,0.1)) !important;
    }

 /*couleur écriture de a dans li de navbar*/
.navbar-default .navbar-nav>li>a {
    color: black;
}

#main {
    height:1000px;

}  

.button {
    margin-top: 50px;
    margin-left:8px;
    min-width:300px;
    height:50px;
    border:none;
    border-radius:10px;
    /*background: linear-gradient(cornflowerblue,rgba(101,156,239,0.1));*/
    background: linear-gradient(rgba(230,230,230,1),rgba(260,260,260,1));
    color:black !important;
    
}

.button:hover {
    background: cornflowerblue;
    color:white
}

    
.ReceptionNotification{
    padding : 30px;
    font-size:0.9em;
    display:flex;
    flex-direction:column;
}
h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:1.5em;
    text-align:center;
    padding-top:15px;
    font-weight:bold;
}

sorting ui-state-default sorting_asc {
    width: 60px !important;
}
table.dataTable thead th, table.dataTable tfoot th {
        /*font-weight: bold;*/
        font-size:0.8em;
    }

table.dataTable tbody td {
        /*font-weight: bold;*/
        font-size:0.8em;
    }
#Attribution table {
    width: 60% !important;
   
}
#Synthese table {
    width: 50% !important;
    margin-left:50px ;
    padding:200px;
    margin-right:50px;
}

#Synthese .dataTables_wrapper .ui-toolbar {
    width:50% !important;
   margin-left:50px;
   margin-right:50px;
   font-size:0.8em;
}
#Attribution .dataTables_wrapper .ui-toolbar {
    width:60% !important;
    margin-left:183px;
   font-size:0.8em;

}
.dataTables_wrapper .ui-toolbar {    
   font-size:0.8em;
}
#notifications .dataTables_wrapper .ui-toolbar {
   width:60% !important;
   margin-left:100px;
   font-size:0.8em;
}
#notifications table {
    width: 60% !important;
    margin-left:100px;
}
.form-group{
    display:flex;
    flex-direction:column;
}
#Attribution .button{ 
    margin-top:10px;
    margin-bottom:10px; 
    min-width:50px;
    height:auto;
    border:none;
    border-radius:5px;
    /*background: linear-gradient(cornflowerblue,rgba(101,156,239,0.1));*/
    background: linear-gradient(rgba(230,230,230,1),rgba(260,260,260,1));
    color:black !important;   
}
#Attribution .button:hover {
    background: cornflowerblue;
    color:white
}
